body {
    background: lightgrey;
}

.map-container {
    position: relative;
    width: 732px;
    height: 444px;
}

#map-img {
    width: 732px;
    height: 444px;
    position: absolute;
}

#states-img {
    width: 732px;
    height: 444px;
    position: absolute;
    z-index: 100;
}

.img {
    position: absolute;
    display: none;
    pointer-events: none; /* prevent flickering */
}

#hover {
    display: block;
    position: absolute;
    z-index: 1000;
}

#display {
    margin-left: 350px;
}
